@import './pages/home-page';


$c1-danger : white;

div{
    color:$c1-danger
}

.header .container{
    display: flex;
    flex-direction: row;
    height: 100px;
    /* flex-direction: row-reverse; /
    / flex-direction:column; /
    / flex-direction: column-reverse; /

    / justify-content: flex-start; /
    / justify-content: flex-end; /
    / justify-content: center; /
    / justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
}