@import './pages/home-page';


$c1-danger : white;

div{
    color:$c1-danger
}

.header .container{
    display: flex;
    flex-direction: row;
    height: 100px;
    /* flex-direction: row-reverse; /
    / flex-direction:column; /
    / flex-direction: column-reverse; /

    / justify-content: flex-start; /
    / justify-content: flex-end; /
    / justify-content: center; /
    / justify-content: space-around; */
    justify-content: space-between;
    align-items: center;
}

.contact{
    padding: 80px 0;
}

.contact-main .container{
    display: flex;
    // max-width: 90%;
}

.contact-main .info{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // padding-right: 30px;
}

.contact-main form{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.contact-main iframe{
    width: 34%;
    height: 450px;
    margin-left : 30px;
}

.contact-main .form *{
    width: 100%;
    padding: 12px;
}

.contact-main .form button{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    padding: 15px 0;
}