@import './themes/theme1';

@import './base/base';

@import './pages/home-page';
@import './pages/login-page';
@import './pages/register-page';
@import './pages/info';
@import './pages/admintemplate';

@import './components/footerHome';
@import './components/headerHome';
@import './components/pagination';
