.header {
    background-color: #1e1e2a;
    .header-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-list-1{
            margin: 0;
            .navbar-item{
                margin: 5px 8px;
                display: inline-block;
                color: #ffc107;
            }
            .navbar-toggler{
                display: none;
                // border: 1px solid #ffc107;
                @include respond (tablet){
                    display: inline-block;
                }
            }
            .dropdown{
                .dropdown-menu{
                    padding: 0;
                    margin: 0;
                    .dropdown-item{
                        display: inline-block;
                        padding: 5px auto;
                    }
                }
                &:hover {
                    .dropdown-menu {
                        display: block;
                        .dropdown-item{
                            &:hover{
                                background-color: #1e1e2a;
                                color: #ffc107;
                            }
                        }
                     }
                }
                @include respond (tablet){
                    display: none;
                }
            }
        }
        .navbar-list-2{
            margin-bottom: 0;
            .navbar-item{
                margin: 0 8px;
                display: inline-block;
                color: #ffc107;
                @include respond (phone){
                    display: block;
                }
            }
            .form-inline{
                @include respond (tablet){
                    display: none;
                }
            }
            
        }
    }
}