@import '../themes/theme1';

@include respond (phone){
    th{
        font-size: 10px;
    }
}


.pagintionComponent{
    position: absolute;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
}