.detailPage {
   
    .container{
        background-color: rgb(218, 211, 211);
        min-height: 100vh;
        text-align: center;
        img{
            width: 50%;
        }
        p{
            padding: 20px 50px;
        }
    }
   
}