.carousel{
    background-image: url(../../img/Coding_Cafe_640_x_340.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel-main p{
    font-size: 25px;
    color: #cccccc;
}

.carousel-main h1{
    font-size: 75px;
    color: #ffcc00;
}

.carousel-main{
    text-align: center;
    padding: 100px;
}


.item {
    padding: 15px;  
    box-sizing: border-box;
}

.item .content{
    background-color: #ffffff;
    border-radius: 25px;
    padding: 35px 35px 20px;
    text-align: center;
    box-shadow: 1px 1px 10px rgb(221, 218, 218);
    font-size: 13px;
}