@import "../themes/theme1";

.listItem{
    padding-top: 30px;
    padding-bottom: 30px;
    h1{
        text-align: center;
        font-size: 50px;
        @include respond(tablet) {
            font-size: 35px;
        }
        @include respond(phone) {
            font-size: 25px;
        } 
    }
    .list{
        .item{
            padding: 15px;
            .content{
                // background-color: #ffffff;
                border-radius: 25px;
                padding: 30px 30px 20px;
                text-align: center;
                box-shadow: 1px 1px 10px rgb(221, 218, 218);
                .thumbnail{
                    padding-bottom: 10px;
                    img{
                        width: 100%;
                        border-radius: 25px;
                    }
                }
                h1{
                    height: 45px;
                    font-size: 15px;
                }
                .readmore{
                    button{
                        padding: 5px 20px;
                    }
                }
            }
        }
    }
}





