@import "../themes/theme1";

.listItem{
    padding-top: 30px;
    padding-bottom: 30px;
    h1{
        text-align: center;
        font-size: 50px;
        @include respond(tablet) {
            font-size: 35px;
        }
        @include respond(phone) {
            font-size: 25px;
        } 
    }
}





