.login{
    background-image: url(../../img/bussiness_img_1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .row{
        min-height: 100vh;
    }
}