.register{
    background-image: url(https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
}